
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container">
    <h2>Contact Us</h2>
    <div class="row">
        <div class="panel panel-default col-md-6 col-md-offset-3">
            <div class="panel-heading">By phone</div>
            <div class="panel-body">
                <b>General questions:</b> 209/372-0200 (then dial 3 then 5)
                Open 9 am to 5 pm Pacific time (closed for lunch). If you're returned to the main menu, it means the ranger is already on the line (try again).
                <br /><br />
                <b>Wilderness questions (including backpacking and Half Dome):</b> 209/372-0826
                Open 9 am to noon and 1 pm to 4:30 pm, Monday through Friday
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default col-md-6 col-md-offset-3">
            <div class="panel-heading">By mail</div>
            <div class="panel-body">
                Public Information Office
                PO Box 577
                Yosemite, CA 95389

                Looking for a physical address? Please note that GPS units do not always provide accurate directions to or within Yosemite. Yosemite covers 1,200 square miles and does not have a single address. We do not recommend using GPS units for directions in and around Yosemite.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default col-md-6 col-md-offset-3">
            <div class="panel-heading">Employment Information</div>
            <div class="panel-body">
                Several different organizations employ people in Yosemite National Park.
            </div>
        </div>
    </div>
</div>